@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
body, html {
  margin: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.header {
  padding: 16px 16px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}
.header__logo {
  font-family: "Shrikhand", "cursive";
  margin: 0;
  text-align: center;
}

.container {
  max-width: 1280px;
  margin: auto;
  position: relative;
}

.footer {
  background-color: #353535;
}
.footer .container__footer {
  display: flex;
  flex-direction: column;
  padding: 16px;
}
.footer__logo {
  color: white;
  font-family: "Shrikhand", "cursive";
  margin: 0;
  font-size: 20px;
  margin-bottom: 16px;
}
.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer a a:hover {
  text-decoration: underline;
}

.local {
  display: flex;
  justify-content: center;
  padding: 18px 16px;
  background-color: #f3f3f3;
  font-size: 17px;
  position: relative;
}
.local__icon {
  margin-right: 16px;
}
.local__text {
  font-weight: 700;
}

.details {
  padding: 32px;
  text-align: center;
  background-color: #fafafa;
}
.details__title {
  margin: 0;
}
.details__subtitle {
  font-weight: 300;
  margin: 24px 0;
}
.details__btn {
  border: 0;
  padding: 12px 24px;
  font-weight: 500;
  font-size: 17px;
  border-radius: 100px;
  color: white;
  background-color: #686868;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9) 0%, rgba(255, 121, 218, 0.9) 100%);
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}
.details__btn:hover {
  background-color: white;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
.details__btn a {
  text-decoration: none;
  color: inherit;
}

.function {
  padding: 32px;
}
.function__title {
  margin-top: 0;
}
.function__steps {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 1024px) {
  .function__steps {
    display: flex;
  }
}
.function__number {
  color: white;
  background-color: #9356DC;
  height: 24px;
  width: 24px;
  border-radius: 100px;
  text-align: center;
  position: absolute;
  left: -12px;
  top: 20px;
}
.function__step {
  padding: 24px;
  margin: 16px 0 16px 12px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.125);
  border-radius: 16px;
  background-color: #f6f6f6;
  display: flex;
  position: relative;
}
@media (min-width: 1024px) {
  .function__step {
    flex: 1;
    margin: 0;
    margin-left: 32px;
  }
  .function__step:first-child {
    margin-left: 12px;
  }
}
.function .fa-store {
  color: #9356DC;
}
.function__icon {
  margin-right: 16px;
  color: #7e7e7e;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 32px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 32px;
  row-gap: 32px;
}
@media (min-width: 1024px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  background-color: white;
  border-radius: 16px;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
}
.card__img {
  height: 182px;
  width: 100%;
  border: transparent solid 0px;
  border-radius: 16px 16px 0 0;
  box-shadow: none;
  object-fit: cover;
}
.card__footer {
  padding: 16px;
  position: relative;
  display: flex;
  align-items: center;
}
.card__content {
  flex: 1;
}
.card__title {
  margin: 0;
  margin-bottom: 4px;
}
.card__subtitle {
  margin: 0;
}
.card__btn {
  height: 32px;
  width: 32px;
  background-color: transparent;
  border: transparent 0px solid;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__like {
  background-color: white !important;
}

body, html {
  margin: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.header {
  padding: 16px 16px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}
.header__logo {
  font-family: "Shrikhand", "cursive";
  margin: 0;
  text-align: center;
}

.container {
  max-width: 1280px;
  margin: auto;
  position: relative;
}

.footer {
  background-color: #353535;
}
.footer .container__footer {
  display: flex;
  flex-direction: column;
  padding: 16px;
}
.footer__logo {
  color: white;
  font-family: "Shrikhand", "cursive";
  margin: 0;
  font-size: 20px;
  margin-bottom: 16px;
}
.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer a a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
